# .github/workflows/sync_to_hf_space.yml

name: Sync to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Hub
        env:
          # Usa il nome del secret che hai creato nelle impostazioni di GitHub
          HF_TOKEN: ${{ secrets.HUGGING_FACE_TOKEN }}
        run: |
          git push https://LorenzoIVF:$HF_TOKEN@huggingface.co/spaces/LorenzoIVF/Sentiment-Analyzer-MachineInnovators main --force